# Documentation artifacts
/docs/_build
/doxygen

# OS junk
.DS_Store
.directory

# Generated compiled python files
*.pyc
/bin
/.apt_generated/

#uds junk
.uds_*

#compiled stuff
*.obj
*.o

#folders
/release
/build
/.idea
*.iml
*.ipr
*.iws
/.settings
/nbproject
/.nb-gradle
.nb-gradle-properties
/.gradle

#files
.classpath
.project
