
*{
	margin: 0;
	padding: 0;
}

html  { font-size: 100%; }

body { 
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	color: #444;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	background-color: #fefefe;
	font-size: 0.8em;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.8em; }

ul, ol {
	margin: 1em 0 1em 24px;
	padding: 0;
}

#header{
	position: relative;
	padding: 10px;
	background-color: #efefef;
}

	#header img#logo_eiafr{
		position: absolute;
		right: 20px;
		top: 10px;
	}

#content {
	padding: 10px;
	background-color: #fafafa;
}
	#content ul a:link, #content a:active, #content a:visited{
		color: #017CB7;
	}
	#content ul a:hover{
		text-decoration: none;
	}

#footer{
	padding: 10px;
	padding-right: 20px;
	background-color: #efefef;
	text-align: right;
}

	#footer a:link, #footer a:active, #footer a:visited{
		color: #666;
		text-decoration: none;
	}

	#footer a:hover{
		color: #222;
	}